body {
  padding: 50px;
  font: 24px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: aqua;
}

a {
  color: rgb(9, 255, 0);
  font-family: Arial, Helvetica, sans-serif;
}

.mainContent {
  block-size:fit-content;
  background-image: url(/images/img1.jpg);
}

.secondContent{
  font-size: 50px;
  color: aqua;
}

.container{
  color:green;
  font-size:25px;
}
